PyYAML==5.4.1
progress==1.6
paramiko==2.7.2
colorama==0.4.4
cryptography==3.4.7
configparser==5.0.2
typer==0.4.0
requests==2.26.0
azure-identity==1.6.1
azure-keyvault-secrets==4.3.0
Jinja2==3.0.2
requests==2.26.0
python-slugify==5.0.2
scp==0.14.1