{%-for database in databases %}
{%-for table in database['tables'] %}
CREATE TABLE {{table.name.lower()}} (
    {%for column in table['columns']-%}
	{{column.name}} {{column.type}} {%-if column['is_primary'] == True %} PRIMARY KEY {%-endif %}
    {%-if column['is_required'] == True %}NOT NULL {% else %} NULL {%-endif %}
    {%-if not loop.last-%},{%-endif %}
    {%endfor%})
);
{% endfor-%}
{% endfor-%}